<p id="notice"><%= notice %></p>

<%= turbo_stream_from @post %>
<div id="<%= dom_id(@post) %>">
  <%= render @post %>
</div>

<%= render partial: 'likes/button', locals: { likeable: @post } %>

<p>
  <strong>Comments:</strong>

  <%= turbo_stream_from @post, :comments %>
  <div id="comments">
    <%= render @post.comments.where(parent_id: nil).includes(:user, :post, comments: :user).order(id: :desc) %>
  </div>
  <%= render partial: 'comments/form', locals: { post: @post, parent: nil } %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
