<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= @post.likes.count %> Likes

<% like = current_user.likes.find_by(post: @post) %>
<% if like.nil? %>
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
    <input type="submit" value="Like">
  </form>
<% else %>
  <form action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Unlike">
  </form>
<% end %>

<p>
  <strong>Comments:</strong>

  <%= render @post.comments.where(parent_id: nil).includes(:user, :post, comments: :user).order(id: :desc) %>
  <%= render partial: 'comments/form', locals: { post: @post, parent: nil } %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
